@define-color bg        #24283b;
@define-color text      #c0caf5;
@define-color red       #f7768e;
@define-color blue      #7aa2f7;
@define-color mauve     #b48ead;
@define-color purple    #9d7cd8;
@define-color magenta   #bb9af7;
@define-color green     #9ece6a;
@define-color orange    #ff9e64;
@define-color yellow    #e0af68;

* {
    font-family: NotoSans Nerd Font;
    font-weight: 600;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

#workspaces {
    background-color: alpha(@bg, 0.9);
    border-radius: 1rem;
    margin: 5px;
    margin-left: 1rem;
}

#workspaces button {
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    background-color: @purple;
}

#workspaces button.empty:not(.active) {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
}

#workspaces button:hover {
    background-color: @blue;
    color: @bg;
}

#clock,
#battery,
#pulseaudio,
#memory,
#cpu,
#tray {
    background-color: alpha(@bg, 0.9);
    padding: 0.4rem 1rem;
    margin: 5px 0;
}

#clock {
    color: @mauve;
    border-radius: 1rem 0px 0px 1rem;
    margin-right: 0;
}

#clock.date {
    border-radius: 0px 1rem 1rem 0px;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#pulseaudio {
    color: @yellow;
    border-radius: 1rem;
}

#cpu {
    color: @red;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 0.5rem;
}

#memory {
    color: @orange;
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 0.5rem;
}

#tray {
    border-radius: 1rem;
    margin-right: 1rem;
}
